<h2>Productos</h2>
<dx-data-grid
  id="gridContainer"
  [dataSource]="products"
  [showBorders]="true"
  (onToolbarPreparing)="onToolbarPreparing($event)"
>
  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="id" [visible]="false"></dxi-column>
  <dxi-column dataField="name" caption="Nombre" width="30%"></dxi-column>
  <dxi-column dataField="category.id" caption="categoryId" [visible]="false"></dxi-column>
  <dxi-column dataField="category.name" caption="Categoria" width="30%"></dxi-column>
  <dxi-column dataField="price" caption="Precio" width="15%" dataType="number" format="currency"></dxi-column>
  <dxi-column dataField="stock" caption="Stock" width="15%"></dxi-column>
  <dxi-column
    [allowFiltering]="false"
    [allowSorting]="false"
    cellTemplate="cellTemplate"
  ></dxi-column>
  <div *dxTemplate="let data of 'cellTemplate'">
    <div class="img-container">
      <dx-button
        *ngIf="true"
        icon="edit"
        type="default"
        (onClick)="onEditClick(data.data)"
        hint="Editar"
      ></dx-button>
      <dx-button
        *ngIf="true"
        icon="remove"
        type="danger"
        (onClick)="onRemoveClick(data.data)"
        hint="Eliminar"
      ></dx-button>
    </div>
  </div>
</dx-data-grid>